[Unit]
Description=nodeApi App
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/node /home/ubuntu/index.js
Restart=on-failure
WorkingDirectory=/home/ubuntu
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodeApi-app
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target
